<div class="mod-header">


<nav class="aui-navgroup aui-navgroup-horizontal">
    <div class="aui-navgroup-inner">
        <div class="aui-navgroup-primary">
            <ul class="aui-nav">
                <li><a href="#">Nazwa_projektu</a></li>
            </ul>
        </div><!-- .aui-navgroup-primary -->
        <div class="aui-navgroup-secondary">
            <ul class="aui-nav">
                <li><a href="#hnavsettingsDropdown" class="aui-dropdown2-trigger" aria-owns="hnavsettings-dropdown" aria-haspopup="true">Filtry <span class="aui-icon-dropdown"></span></a></li>
            </ul>
        </div><!-- .aui-navgroup-secondary -->
    </div><!-- .aui-navgroup-inner -->
</nav>



<div class="aui-dropdown2 aui-style-default" id="hnavsettings-dropdown" data-dropdown2-alignment="right">
    <ul>
        <li><a >filtr1</a></li>
        <li><a >filtr2</a></li>
        <li><a >filtr3</a></li>
        <li><a >filtr4</a></li>
    </ul>
</div>
    <table class="aui aui-table-sortable" id="tabela">
        <thead>
	        <tr>
	            <th>Type</th>
	            #foreach($v in [1..$cols])
	            	<th>Col Name $v</th>
	            #end
	        <tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>Max</td>
	            #foreach($v in [1..$cols])
	            	<td>$max</td>
	            #end
	        </tr>
	        <tr>
	            <td>Min</td>
	            #foreach($v in [1..$cols])
	            	<td>$min</td>
	            #end
	        </tr>
	        <tr>
	            <td>Avg</td>
	            #foreach($v in [1..$cols])
	            	<td>$avg</td>
	            #end
	        </tr>
	        <tr>
	            <td>Q1</td>
	            #foreach($v in [1..$cols])
	            	<td>$q1</td>
	            #end
	        </tr>
	        <tr>
	            <td>Q2</td>
	            #foreach($v in [1..$cols])
	            	<td>$q2</td>
	            #end
	        </tr>
	        <tr>
	            <td>Q3</td>
	            #foreach($v in [1..$cols])
	            	<td>$q3</td>
	            #end
	        </tr>
	        <tr>
	            <td>Q4</td>
	            #foreach($v in [1..$cols])
	            	<td>$q4</td>
	            #end
	        </tr>
	    </tbody>
	</table>
	
	<div style="margin: 20px 0;">
		<span class="aui-button aui-button-primary">
		<span class="aui-icon aui-icon-small aui-iconfont-build">asdasd</span>
			Refresh
		</button>
	</div>
</div>