<div class="mod-header">

<!-- js script -->
<!-- 

<script>

var ilosc_kolumn=3; // tu zmienna dla Marcina

function addColumn(tblId){
for (var x=0; x<ilosc_kolumn; x++){

  var tblHeadObj = document.getElementById(tblId).tHead;
  for (var h=0; h<tblHeadObj.rows.length; h++) {
    var newTH = document.createElement('th');
    tblHeadObj.rows[h].appendChild(newTH);
    newTH.innerHTML = 'Nazwa kolumny' + (tblHeadObj.rows[h].cells.length - 1) //nazwy stanu w projekcie
  }

  var tblBodyObj = document.getElementById(tblId).tBodies[0];
  for (var i=0; i<tblBodyObj.rows.length; i++) {
  var newCell = tblBodyObj.rows[i].insertCell(-1);
  newCell.innerHTML = 'Wartosc' + i  //zawatrość kolumn
  }
}
}

</script>

-->

    <!--
    <h3>$i18n.getText('statistic-panel.label')</h3>
    -->
    
    <!-- START  -->
	<table class="aui aui-table-sortable">
	    <thead>
	        <tr>
	            <th>Type</th>
	            #foreach($v in [1..$cols])
	            	<th>Col Name $v</th>
	            #end
	        <tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>Max</td>
	            #foreach($v in [1..$cols])
	            	<td>$max</td>
	            #end
	        </tr>
	        <tr>
	            <td>Min</td>
	            #foreach($v in [1..$cols])
	            	<td>$min</td>
	            #end
	        </tr>
	        <tr>
	            <td>Avg</td>
	            #foreach($v in [1..$cols])
	            	<td>$avg</td>
	            #end
	        </tr>
	        <tr>
	            <td>Q1</td>
	            #foreach($v in [1..$cols])
	            	<td>$q1</td>
	            #end
	        </tr>
	        <tr>
	            <td>Q2</td>
	            #foreach($v in [1..$cols])
	            	<td>$q2</td>
	            #end
	        </tr>
	        <tr>
	            <td>Q3</td>
	            #foreach($v in [1..$cols])
	            	<td>$q3</td>
	            #end
	        </tr>
	        <tr>
	            <td>Q4</td>
	            #foreach($v in [1..$cols])
	            	<td>$q4</td>
	            #end
	        </tr>
	    </tbody>
	</table>
	
	<div style="margin: 20px 0;">
		<span class="aui-button aui-button-primary">
		<span class="aui-icon aui-icon-small aui-iconfont-build">asdasd</span>
			Refresh
		</button>
	</div>
</div>